.bg-body-tertiary {
    background-color: #F4F0E6 !important;
}


.botao {
    background-color: #A67C52 !important;
    color: white;
}

.modal-content {
    background-color: #F4F0E6 !important;
}

.modal-content input {
    background-color: #8B6E4F !important;
    color: white !important;
}

.modal-content textarea {
    background-color: #8B6E4F !important;
    color: white !important;
}

.botao:hover {
    background-color: #8B6E4F !important;
    color: white;
}

.navbar-custom {
    border-bottom: 1px solid #8B6E4F;
}

.book-card {
    transition: .5s;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-details {
    background-color: #EEE8DD;
    border: 1px solid #8B6E4F;
    border-radius: 10px;
    height: fit-content;
}

.sinopse-card {
    background-color: #6b543b;
    color: white;
    border-radius: 10px;
}

.sinopse-card p {
    background-color: #b89269;
    padding: 1rem;
    border-radius: 10px;
    color: black
}

.sinopse-card textarea {
    background-color: #b89269;
    color: black;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
}

.sinopse-card textarea:focus {
    outline: none !important;
    background-color: #e2c4a5;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  z-index: 1000;
  width: calc(100% - 250px); /* Adjust width to account for the sidebar */
}

/*.navbar deve ter width de 100% se a largura da tela for menor que o md do boostrasp*/
@media (max-width: 768px) {
    .navbar {
        width: 100%; /* Full width on smaller screens */
    }
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F6F3EE;
    border-right: 1px solid black;
    z-index: 999;
  }
  
  .nav-link {
    font-size: 1rem;
  }
  
  .nav-link:hover {
    background-color: #eceae5;
    border-radius: 4px;
  }

  
  /* Ajusta o conteúdo principal para não ficar escondido atrás da sidebar */
.content-area {
  margin-left: 250px;
  padding: 20px;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #e2c4a5 !important;
  }
  
  .app-layout {
    min-height: 100vh;
  }
  
  .main-content {
    margin-left: 250px;
  }
  
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
    }
  }
  