.bg-body-tertiary {
    background-color: #F4F0E6 !important;
}

.botao {
    background-color: #A67C52 !important;
    color: white;
}

.botao:hover {
    background-color: #8B6E4F !important;
    color: white;
}